# dependencies
/node_modules

# Next.js
/.next
/out

# local environment variables
.env
.env.local
.env.*.local

# Vercel
.vercel

# generated data backup
/data/*.json

# logs and editor files
npm-debug.log*
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts
